// Color
$primary-border-bottom-color: #dedede;
$primary-color: #030213;
$secondary-color: #0a0a0acc;
$primary-backgr-color:#ececf04d;

// Text Size
$primary-font-size: 20px;
$secondary-font-size: 16px;


// Font Weight
$primary-font-weight: 500px;
$secondary-font-weight: 400px;

// Border-Radius
$primary-border-radius: 10px;